<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" src="/assets/olive-logo.png">
</div>
<br>
<br>
<br>
<h1 class="text-center">
  Welcome to {{title}}!
</h1>
<ul>
  <h1>My First Attribute Directive</h1>

  <h4>Pick a highlight color</h4>
  <div>
    <input type="radio" name="colors" (click)="color='lightgreen'" >Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan

    <button [disabled]="isUnchanged">Save</button>


  </div>
  <p [myHighlight]="color">Highlight me!</p>


  <nav class="navbar navbar-inverse" style="background-color: darkslategray;">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink] = "['/Login']">Login</a></li>
        <li><a [routerLink] = "['/Signup']">Signup</a></li>
        <li><a [routerLink] = "['/UserDetails']">All Users</a></li>
      </ul>
    </div>
  </nav>


</ul>
<router-outlet></router-outlet>'



